
.logo_img {
	 margin-top: -15px;
	height: 50px;
}

.navbar {
	background-image: url('imgs/blue_back.png');
	background-repeat: repeat-x;
	margin-top: 15px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}
