
.logo_img {
	 margin-top: -15px;
	height: 50px;
}

.navbar {
	background-image: url('imgs/blue_back.png');
	background-repeat: repeat-x;
	margin-top: 15px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.login h1 {
	width: 100%;
}

.login {
	text-align: center;
	color: white;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 3;
	background-image: url('imgs/blue_back.png');
	background-repeat: repeat;
	top: 0;
	left: 0;
}

.login button {
	margin:15px;
	font-weight: bold;
	background-color: #058ceb;
	border-radius: 10px;
	border: 1px solid white;
	-webkit-transition: background-color 0.5s, color 0.5s;
	-o-transition: background-color 0.5s, color 0.5s;
	transition: background-color 0.5s, color 0.5s;
}
.login button:hover{
	background-color: white;
	color: #058ceb;
	-webkit-transition: background-color 0.5s, color 0.5s;
	-o-transition: background-color 0.5s, color 0.5s;
	transition: background-color 0.5s, color 0.5s;

}

.login-logo {
	height: 500px;
	padding-top: 50px;
}

.login-options {
	display: block;
	float: left;
	position: relative;
	right: 50%;
}

.visible, .visible *{
	opacity: 1;
	visibility: visible;
	-webkit-transition: visibility 2s;
	-o-transition: visibility 2s;
	transition: visibility 2s;
}

.hidden, .hidden *{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: visibility 2s, opacity 1s;
	-o-transition: visibility 2s opacity 1s;
	transition: visibility 2s opacity 1s;
}
